In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('LBW_Dataset.csv')
df.head()

,Community,Age,Weight,Delivery phase,HB,IFA,BP,Education,Residence,Result
0,1,21.0,42.0,1.0,9.2,1,1.375,5.0,1.0,0
1,1,21.0,NaN,1.0,8.8,1,1.500,5.0,1.0,0
2,1,21.0,NaN,1.0,9.2,1,2.125,5.0,1.0,0
3,1,21.0,NaN,1.0,8.0,1,1.375,5.0,1.0,0
4,1,24.0,33.0,1.0,9.3,1,1.571,5.0,1.0,0

In [7]:
df.describe()

,Community,Age,Weight,Delivery phase,HB,IFA,BP,Education,Residence,Result
count,96.000000,89.000000,85.000000,92.000000,77.000000,96.000000,81.000000,93.0,94.000000,96.000000
mean,2.177083,23.752809,45.129412,1.021739,9.076623,0.687500,1.725189,5.0,1.138298,0.750000
std,1.213909,3.321011,8.215532,0.146630,0.788052,0.465946,1.449447,0.0,0.347063,0.435286
min,1.000000,17.000000,30.000000,1.000000,5.900000,0.000000,1.200000,5.0,1.000000,0.000000
25%,1.000000,21.000000,40.000000,1.000000,8.900000,0.000000,1.375000,5.0,1.000000,0.750000
50%,2.500000,24.000000,43.000000,1.000000,9.000000,1.000000,1.500000,5.0,1.000000,1.000000
75%,3.000000,26.000000,50.000000,1.000000,9.200000,1.000000,1.661538,5.0,1.000000,1.000000
max,4.000000,38.000000,65.000000,2.000000,11.000000,1.000000,13.875000,5.0,2.000000,1.000000

In [6]:
sum([True for idx,row in df.iterrows() if any(row.isnull())])

32

In [9]:
df.shape

(96, 10)

In [10]:
new_df=df.dropna()

In [11]:
new_df.shape

(64, 10)

In [13]:
new_df.to_csv('temp_cleaned.csv')